/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-multi-columns-block {
    background-color: #c5e0c9;
    color: #fff;
    padding: 10px;
    column-rule: 10px dotted #c89a55;
}
