/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-multi-columns-block {
	background-color: #21759b;
    color: #fff;
    padding: 2px;
    column-rule: 4px dotted red;
}
